{
  "extends": [
    "eslint:recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "no-redeclare": "error",
    "no-trailing-spaces": "error",
    "function-paren-newline": 0,
    "object-curly-newline": 0,
    "import/prefer-default-export": 0,
    "implicit-arrow-linebreak": 0,
    "operator-linebreak": ["error", "after", { "overrides": {
          "?": "before",
          ":": "before",
          "&&": "ignore",
          "||": "ignore"
        }}],
    "no-bitwise": 0
  }
}
